@import '@fontsource/lexend-deca';
@import '@fontsource/manrope';
@import '@fontsource/roboto';

@tailwind base;
@tailwind components;
@tailwind utilities;

.login-bg {
    --dot-bg: black;
    --dot-color: white;
    --dot-size: 1px;
    --dot-space: 22px;
    background: linear-gradient(
            90deg,
            var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
            transparent 1%
    )
    center / var(--dot-space) var(--dot-space),
    linear-gradient(
            var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
            transparent 1%
    )
    center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

.card-bg {
    background: rgba( 255, 255, 255, 0 ) !important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;
    backdrop-filter: blur( 2.5px ) !important;
    -webkit-backdrop-filter: blur( 2.5px ) !important;
    border-radius: 10px !important;
    border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
}

.session-card {
    background: rgba( 255, 255, 255, 0.75 ) !important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;
    backdrop-filter: blur( 2.5px ) !important;
    -webkit-backdrop-filter: blur( 2.5px ) !important;
    border-radius: 10px !important;
    border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
}

.blur-bg{
    background: rgba( 0, 0, 0, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}